.pio
CMakeListsPrivate.txt
cmake-build-*/
*.bin
.vs
.vscode
out
node_modules
/DiscoCartUtil/DiscoCartUtil-Windows.zip
/DiscoCartUtil/DiscoCartUtil-Setup.exe
/DiscoCartUtil/DiscoCartUtil-Setup
/DiscoCartUtil/DiscoCartUtil-Upload
