.pio
CMakeListsPrivate.txt
cmake-build-*/
*.bin
.vs
.vscode
out
node_modules
/DiscoCartUtil/DiscoCartUtil-Windows.zip
/DiscoCartUtil/DiscoCartUtil-Setup.exe
/DiscoCartUtil/DiscoCartUtil-Setup
/DiscoCartUtil/DiscoCartUtil-Upload
/DiscoCartUtil/.visualgdb/CodeDB/firmware.vgdbproj-Debug-Teensy_4 1
/firmware/.visualgdb/VisualGDBCache/firmware-Debug-Teensy_4_1
/firmware/Output/Teensy_4_1/Debug
/DiscoCartV2/.visualgdb
/DiscoCartV2/DiscoCartUtil-Setup
/firmware/.visualgdb/VisualGDBCache/firmware-Debug-Arduino_Mega_or_Mega_2560
/firmware/Output/Arduino_Mega_or_Mega_2560/Debug
/firmware/.visualgdb/VisualGDBCache/firmware-Release-Teensy_4_1
/firmware/Output/Teensy_4_1/Release
/firmware/.visualgdb/VisualGDBCache
/firmware/Output
